.pure-button {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn-xs {
    font-size: 70%;
}
.btn-s {
    font-size: 85%;
}
.btn-lg {
    font-size: 110%;
}
.btn-xl {
    font-size: 125%;
}

.btn-primary,
.btn-success,
.btn-error,
.btn-danger,
.btn-warning,
.btn-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-primary {
    background: rgb(0, 120, 231);
    border: 1px solid rgb(0, 120, 231);
}
.btn-success {
    background: rgb(28, 184, 65);
    border: 1px solid rgb(28, 184, 65);
}
.btn-error,
.btn-danger {
    background: rgb(202, 60, 60);
    border: 1px solid rgb(202, 60, 60);
}
.btn-warning {
    background: rgb(223, 117, 20);
    border: 1px solid rgb(223, 117, 20);
}
.btn-secondary {
    background: rgb(66, 184, 221);
    border: 1px solid rgb(66, 184, 221);
}


.btn-primary-outline {
    color: rgb(0, 120, 231);
    background: white;
    border: 1px solid rgb(0, 120, 231);
}
.btn-primary-outline:hover {
    color: white;
    background: rgb(0, 120, 231);
    border: 1px solid rgb(0, 120, 231);
}
.btn-success-outline {
    color: rgb(28, 184, 65);
    background: white;
    border: 1px solid rgb(28, 184, 65);
}
.btn-success-outline:hover {
    color: white;
    background: rgb(28, 184, 65);
    border: 1px solid rgb(28, 184, 65);
}
.btn-error-outline,
.btn-danger-outline {
    color: rgb(202, 60, 60);
    background: white;
    border: 1px solid rgb(202, 60, 60);
}
.btn-error-outline:hover,
.btn-danger-outline:hover {
    color: white;
    background: rgb(202, 60, 60);
    border: 1px solid rgb(202, 60, 60);
}
.btn-warning-outline {
    color: rgb(223, 117, 20);
    background: white;
    border: 1px solid rgb(223, 117, 20);
}
.btn-warning-outline:hover {
    color: white;
    background: rgb(223, 117, 20);
    border: 1px solid rgb(223, 117, 20);
}
.btn-secondary-outline {
    color: rgb(66, 184, 221);
    background: white;
    border: 1px solid rgb(66, 184, 221);
}
.btn-secondary-outline:hover {
    color: white;
    background: rgb(66, 184, 221);
    border: 1px solid rgb(66, 184, 221);
}