.right {
    float: right;
}
.left {
    float: left;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#logs-toggle-button {
    cursor: pointer;
    color: #000;
    background-color: #ddd;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: #666 dashed 1px;
}

#logs-container {
    display: none;
    background-color: #ddd;
    border: #666 dashed 1px;
    padding: 5px 10px;
}

.header h2 {
    color: #999;
}

.top-page-nav {
    padding-bottom: 1em;
}

/*******************/
/*** BREADCRUMBS ***/

.breadcrumbs-placeholder {
    width: 100%;
    height: 60px;
}
.breadcrumbs {
    background: white;
    border-bottom: 1px solid #bbb;
    width: 100%;
    height: 47px;
    position:fixed;
    box-shadow: 0 5px 3px rgba(100,100,100, 0.2)
}
.breadcrumbs ul,
.breadcrumbs ul li a,
.breadcrumbs ul li span {
    display: flex;
}
.breadcrumbs ul {
    height: 100%;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}
.breadcrumbs ul li {
    margin-right: 30px;
    position: relative;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
.breadcrumbs ul li:before {
    content: ">";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    color: #666;
}
.breadcrumbs ul li:last-child:before {
    display: none;
}
.breadcrumbs ul li a,
.breadcrumbs ul li span {
    align-items: baseline;
    color: #666;
    text-decoration: none;
}
.breadcrumbs ul li a .icon,
.breadcrumbs ul li span .icon
{
    margin-right: 5px;
}
.breadcrumbs ul li a p,
.breadcrumbs ul li span p
{
    font-size: 16px;
}
.breadcrumbs ul li a p
{
    color: #1a0dab;
}
.breadcrumbs ul li.active a,
.breadcrumbs ul li.active span
{
    color: #ff5e5e;
}

/********************/
/*** MAIN MENU ******/

.pure-menu ul li i {
    width: 1.2em;
    font-size: 15px;
}

/********************/
/*** PROJECT CARD ***/

.project-card,
.pack-card {
    width: 90%;
    border-top: 3px solid rgb(0, 120, 231);
    border-radius: 0 0 10px 10px;
    padding: 15px;
    margin: 10px auto;
    box-shadow: 0 9px 15px rgba(0,0,0,0.2);
}
.pack-card {
    padding: 10px 15px 0;
}
.project-card h1,
.pack-card h1 {
    margin-top: 0.2em;
    padding-bottom: 0.6em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid #ccc;
    font-size: 1.6em;
}

/********************************/
/*** TOOLTIPS    ****************/

/*== start of code for tooltips ==*/
.tool {
    cursor: help;
    position: relative;
}
/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100;
}

.tool::after {
    content: "";
    margin-left: -0.5em;
    height: 0;
    width: 0;
    color: #edeff0;
    position: absolute;
    bottom: 9px;
    border-color: transparent transparent #edeff0 #edeff0;
    border: 0.8em solid;
    box-sizing: border-box;
    box-shadow: -7px 7px 6px 0 rgba(0, 0, 0, 0.2);
    transform-origin: 0 0;
    transform: rotate(-45deg) !important;
}
/*== pointer tip ==*/

.tool:hover::after,
.tool:focus::after {
    transition: all .15s cubic-bezier(.84,-0.18,.31,1.26);
}


/*== speech bubble ==*/
.tool::before {
    background: #edeff0;
    border-radius: 5px;
    bottom: 180%;
    color: #3e474f;
    content: attr(data-tip);
    margin-left: -3em;
    padding: 1em;
    transition: all .35s cubic-bezier(.84,-0.18,.31,1.26) .2s;
    transform: scale(.6) translateY(50%);
    width: fit-content;
    white-space: pre;
    overflow: hidden;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

.tool:hover::before,
.tool:focus::before  {
    transition: all .15s cubic-bezier(.84,-0.18,.31,1.26);
}